.pushups-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 40px 0;
}

.pushups-header {
  font-size: 36px;
  margin-bottom: 20px;
}

.pushups-content {
  display: flex;
  flex-direction: column;
}

.webcam-container {
  top: 15%;
  width: 640px;
  height: 480px;
  margin-right: 20px;
}

.webcam{
  top: 15%
}

.canvas{
  top: 15%
}

.canvas-container {
  display: contents;
  top: 15%;
  width: 640px;
  height: 480px;
  margin-left: 20px;
}

.pushups-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pushups-start-button,
.pushups-stop-button {
  background-color: #4caf50;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.pushups-stop-button {
  background-color: #f44336;
}

.pushup-counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pushup-counter-label {
  font-size: 20px;
  margin-right: 10px;
}

.pushups-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
}